/* fonts */
@font-face {
	font-family: 'UbuntuRegular';
	src: url('/font/ubuntu-regular-webfont.eot');
	src: url('/font/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/font/ubuntu-regular-webfont.woff2') format('woff2'), url('/font/ubuntu-regular-webfont.woff') format('woff'), url('/font/ubuntu-regular-webfont.ttf') format('truetype'), url('/font/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UbuntuMonoRegular';
	src: url('/font/ubuntumono-regular-webfont.eot');
	src: url('/font/ubuntumono-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/font/ubuntumono-regular-webfont.woff2') format('woff2'), url('/font/ubuntumono-regular-webfont.woff') format('woff'), url('/font/ubuntumono-regular-webfont.ttf') format('truetype'), url('/font/ubuntumono-regular-webfont.svg#ubuntu_monoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FontAwesome';
	src: url('/font/fontawesome-webfont.eot');
	src: url('/font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('/font/fontawesome-webfont.woff2') format('woff2'), url('/font/fontawesome-webfont.woff') format('woff'), url('/font/fontawesome-webfont.ttf') format('truetype'), url('/font/fontawesome-webfont.svg#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* reset */
body, div, pre, ul, li, dl, dt, dd, fieldset, table, nav, header, main, section, footer, h1, h2, h3, h4, h5, h6 { display: block; margin: 0; padding: 0; line-height: 1.5; font-weight: normal; border: 0 none; }
img, a { outline: 0 none; border: 0 none; }
h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { font-size: 14px; margin: 14px 0; }
input { font-size: 14px; }
b, strong { font-weight: bold; }
i, em { font-style: italic; }
small { font-size: 10px; }
code, pre { font-family: monospace; }
table { display: table; width: 100%; padding: 0; table-layout: fixed; font-size: 14px; border-collapse: collapse; border-spacing: 0; }
th,td { padding: 0; font-weight: normal; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; -moz-user-select: -moz-none; }

/* layout */
body { color: #666; background: #fafafa; font-family: 'UbuntuRegular'; box-sizing: border-box; }
body > div.wrapper { position: relative; margin: 24px; height: 100%; }
body > div.wrapper > header { margin: 0 0 24px 0; padding: 2px 24px 4px 24px; background: #fff; border: 1px solid #cecece; -webkit-border-radius: 4px; border-radius: 4px; }
body > div.wrapper > header > h1 { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
body > div.wrapper > main { position: relative; height: calc(100vh - 322px); margin: 0 0 24px 0; }
body > div.wrapper > main::after { display: block; height: 0; visibility: hidden; font-size: 0; content: " "; clear: both; }
body > div.wrapper > main > section { float: left; width: calc(50% - 32px); height: 100%; overflow: hidden; }
body > div.wrapper > main > section > header { position: relative; margin: 0 0 6px 0; background: #fff no-repeat right center; border: 1px solid #cecece; -webkit-border-radius: 4px; border-radius: 4px; }
body > div.wrapper > main > section > header > h3 { display: none; }
body > div.wrapper > main > section > header > input { display: block; width: calc(100% - 18px); height: 18px; margin: 8px; color: #666; background: transparent; border: 0 none; }
body > div.wrapper > main > section > header > img { position: absolute; display: none; right: 0; top: 50%; transform: translate(-6px, -50%); }
body > div.wrapper > main > section.loading > header > input { width: calc(100% - 36px); }
body > div.wrapper > main > section.loading > header > img { display: inline-block; }
body > div.wrapper > main > section > div { display: block; height: calc(100% - 46px); background: #fff; overflow: hidden; border: 1px solid #cecece; -webkit-border-radius: 4px; border-radius: 4px; }
body > div.wrapper > main > section > div table { font-weight: normal; text-align: left; color: #333; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
body > div.wrapper > main > section > div table .icon { width: 24px; }
body > div.wrapper > main > section > div table .type { width: 132px; }
body > div.wrapper > main > section > div table .size { width: 92px; }
body > div.wrapper > main > section > div table .mtime { width: 132px; }
body > div.wrapper > main > section > div > header { padding-right: 13px; border-bottom: 1px solid #cecece; background: #fefefe; background: -moz-linear-gradient(top,  #fefefe 0%, #fafafa 50%, #fcfcfc 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(50%,#fafafa), color-stop(100%,#fcfcfc)); background: -webkit-linear-gradient(top,  #fefefe 0%,#fafafa 50%,#fcfcfc 100%); background: -o-linear-gradient(top,  #fefefe 0%,#fafafa 50%,#fcfcfc 100%); background: -ms-linear-gradient(top,  #fefefe 0%,#fafafa 50%,#fcfcfc 100%); background: linear-gradient(to bottom,  #fefefe 0%,#fafafa 50%,#fcfcfc 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#fcfcfc',GradientType=0 ); }
body > div.wrapper > main > section > div > header > table { }
body > div.wrapper > main > section > div > header > table th { line-height: 26px; text-indent: 12px; border-right: 1px solid #cecece; cursor: pointer; }
body > div.wrapper > main > section > div > header > table th.asc { background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QwSEiAfWrqJDQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAB2SURBVEjH7dO7DUIxDEbhj2QECiTGYA1moWAWOiajpLpLcB80LigQlyhIND6S5eJI/hNHIUmSzYqvX8yYPsnSeKBt6w1aAva4Rv9ZQImqOOMRvb647h0vOOKAO3YYcQu39DxyiZVc3rgTBsy9AWvM+RmT5M88ATU/Dh6BrPbbAAAAAElFTkSuQmCC") right center no-repeat; }
body > div.wrapper > main > section > div > header > table th.desc { background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QwSEiA2GAgRYQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAACCSURBVEjH7dM/CsJQDMfxT33iBdyEDi7eztN4CUe3nsIrOHbTxcGp6vKGIqV9UsElXwiB/PKHBEIQBNWEvijo8RwTlwUNNjgMxPdop4pTwYZ3PLDFBSsccc45rzknSNka3LDLvulps0g9q3HKPpUOqL484RrXj1j3ywFDdPGMQfBn3sF1D+nRubTHAAAAAElFTkSuQmCC") right center no-repeat; }
body > div.wrapper > main > section > div > header > table .icon { border-right: 0 none; text-indent: -999px; overflow: hidden; cursor: default; }
body > div.wrapper > main > section > div > header > table .basename { text-indent: 0; }
body > div.wrapper > main > section > div > header > table .mtime { border-right: 0 none; }
body > div.wrapper > main > section > div > div { height: calc(100% - 27px); overflow: hidden; overflow-y: scroll; outline: 0 none; }
body > div.wrapper > main > section > div > div > table {}
body > div.wrapper > main > section > div > div > table .icon { width: 16px; padding: 4px; }
body > div.wrapper > main > section > div > div > table .icon img { display: block; width: 16px; height: 16px; }
body > div.wrapper > main > section > div > div > table .link .icon::after { position: absolute; display: block; left: 0; top: 0; right: 0; bottom: 0; content: " "; background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QwWDC4PQFStygAAADFJREFUOMtjYBgFo4CBgZFE9f/R9TNRaiEThS4gyYD/FHgdbsB/SgL8PzVi7T/V0wEA6SYHBDM+gVwAAAAASUVORK5CYII=") center center no-repeat; }
body > div.wrapper > main > section > div > div > table .size { text-align: right; }
body > div.wrapper > main > section > div > div > table .mtime { text-align: center; }
body > div.wrapper > main > section > div > div > table td { position: relative; cursor: default; }
body > div.wrapper > main > section > div > div > table tr:hover { background: #eee; }
body > div.wrapper > main > section.selected > div > div > table tr.highlight { background: #a8c6ec; background: -moz-linear-gradient(top,  #a8c6ec 0%, #97b8e2 50%, #86abd9 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8c6ec), color-stop(50%,#97b8e2), color-stop(100%,#86abd9)); background: -webkit-linear-gradient(top,  #a8c6ec 0%,#97b8e2 50%,#86abd9 100%); background: -o-linear-gradient(top,  #a8c6ec 0%,#97b8e2 50%,#86abd9 100%); background: -ms-linear-gradient(top,  #a8c6ec 0%,#97b8e2 50%,#86abd9 100%); background: linear-gradient(to bottom,  #a8c6ec 0%,#97b8e2 50%,#86abd9 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8c6ec', endColorstr='#86abd9',GradientType=0 ); }
body > div.wrapper > main > nav { float: left; position: relative; width: 64px; height: 100%; overflow: hidden; }
body > div.wrapper > main > nav > ul { position: absolute; display: block; bottom: 0; width: calc(100% - 16px); margin: 0 8px; list-style-type: none; overflow: hidden; }
body > div.wrapper > main > nav > ul > li { position: relative; display: block; margin: 2px 0; overflow: hidden; }
body > div.wrapper > main > nav > ul > li.separator { height: 4px; text-indent: -999px; }
body > div.wrapper > main > nav > ul > li > a { display: block; width: 100%; height: 48px; line-height: 48px; font-size: 24px; text-indent: -999px; overflow: hidden; color: #666; }
body > div.wrapper > main > nav > ul > li > a:hover { color: #444; }
body > div.wrapper > main > nav > ul > li > a::after { position: absolute; display: block; font-family: 'FontAwesome'; left: 0; top: 0; right: 0; bottom: 0; text-indent: 0; text-align: center; }
body > div.wrapper > main > nav > ul > li.disabled > a { opacity: 0.4; color: #666; pointer-events: none; }
body > div.wrapper > main > nav > ul > li.copy > a::after { content: "\f0ea"; }
body > div.wrapper > main > nav > ul > li.move > a::after { content: "\f047"; }
body > div.wrapper > main > nav > ul > li.rename > a::after { content: "\f040"; }
body > div.wrapper > main > nav > ul > li.delete > a::after { content: "\f1f8"; }
body > div.wrapper > main > nav > ul > li.newfile > a::after { content: "\f15b"; }
body > div.wrapper > main > nav > ul > li.newdir > a::after { content: "\f07b"; }
body > div.wrapper > main > nav > ul > li.download > a::after { content: "\f019"; }
body > div.wrapper > main > nav > ul > li.properties > a::after { content: "\f05a"; }
body > div.wrapper > div { display: block; margin: 0 0 24px 0; padding: 4px; font-family: 'UbuntuMonoRegular'; background: #fff; border: 1px solid #cecece; -webkit-border-radius: 4px; border-radius: 4px; }
body > div.wrapper > div > div { height: 112px; overflow: hidden; }
body > div.wrapper > div > div > p { margin: 0; line-height: 1.4; font-size: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
body > div.wrapper > div > div > p.command { color: #200080; }
body > div.wrapper > div > div > p.success { color: #008000; }
body > div.wrapper > div > div > p.error { color: #ff2020; }
body > div.wrapper > footer { text-align: center; color: #aaa; }
body > div.wrapper > footer > p { margin: 0; font-size: 10px; }
body > div.wrapper > footer > p a { color: #aaa; text-decoration: none; }

/* dialog */
body > div.dialog { position: fixed; visibility: hidden; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.2); opacity: 0; transition: all 0.3s ease 0s; }
body > div.dialog.overlay { visibility: visible; opacity: 1; }
body > div.dialog > div { position: absolute; display: block; left: 50%; top: 50%; visibility: hidden; transform: translate(-50%, -50%); }
body > div.dialog > div > div { width: 480px; padding: 24px; background: #fff; visibility: hidden; opacity: 0; transform: scale(0.7); -webkit-border-radius: 8px; border-radius: 8px; transition: all 0.3s ease 0s; -webkit-box-shadow: 0 0 8px 8px rgba(0,0,0,0.1); box-shadow: 0 0 8px 8px rgba(0,0,0,0.1); }
body > div.dialog > div > div > header { margin: 0 0 12px 0; padding: 0 0 12px 0; border-bottom: 1px solid #ccc; }
body > div.dialog > div > div > img { position: absolute; margin: 12px; }
body > div.dialog > div > div > div { background: none center 40% no-repeat; }
body > div.dialog > div > div > footer { margin: 12px 0 0 0; padding: 24px 0 0 0; border-top: 1px solid #ccc; text-align: right; }
body > div.dialog > div > div > footer > a { display: inline-block; margin: 0 0 0 4px; padding: 4px 12px; font-size: 13px; font-weight: normal; cursor: pointer; text-align: center; text-decoration: none; vertical-align: middle; background: #fafafa; border: 1px solid #ccc; color: #666; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; -moz-user-select: -moz-none; border-radius: 6px; -webkit-border-radius: 6px; -moz-user-select: none; }
body > div.dialog > div > div > footer > a:hover { background-color: #f0f0f0; border-color: #bababa; color: #666; }
body > div.dialog > div > div > footer > a.disabled { opacity: 0.4; background-color: #fafafa; border-color: 1px solid #ccc; color: #666; pointer-events: none; }
body > div.dialog > div.login > div > div > fieldset > label { cursor: pointer; }
body > div.dialog > div.login > div > div > fieldset > input {}
body > div.dialog > div.fileinfo > div > div > dl { margin: 0; }
body > div.dialog > div.fileinfo > div > div > dl > dt { width: 148px; margin: 0; line-height: 24px; font-size: 13px; font-weight: bold; text-align: right; }
body > div.dialog > div.fileinfo > div > div > dl > dd { margin: -24px 0 0 162px; line-height: 24px; font-size: 13px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
body > div.dialog.select-multiple > div.fileinfo > div > div > dl.realpath,
body > div.dialog.select-multiple > div.fileinfo > div > div > dl.type,
body > div.dialog.select-multiple > div.fileinfo > div > div > dl.mime,
body > div.dialog.select-multiple > div.fileinfo > div > div > dl.owner,
body > div.dialog.select-multiple > div.fileinfo > div > div > dl.permission,
body > div.dialog.select-multiple > div.fileinfo > div > div > dl.atime,
body > div.dialog.select-multiple > div.fileinfo > div > div > dl.ctime,
body > div.dialog.select-multiple > div.fileinfo > div > div > dl.mtime { display: none; }
body > div.dialog > div.progress > div > div > div { position: relative; height: 16px; padding: 8px; background: rgba(0, 0, 0, 0.1); box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3); -webkit-border-radius: 16px; border-radius: 16px; }
body > div.dialog > div.progress > div > div > div > div { position: relative; display: block; height: 100%; overflow: hidden; -webkit-border-radius: 16px; border-radius: 16px; }
body > div.dialog > div.progress > div > div > div > div > div.meter { position: relative; display: block; height: 100%; overflow: hidden; -webkit-border-radius: 4px; border-radius: 4px; background-color: rgba(43,83,194,0.6); background-image: linear-gradient(center bottom, rgba(43,83,194,0.6) 37%, rgb(84,84,240) 69%); box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4); transition: width 0.5s ease-in-out; }
body > div.dialog > div.progress > div > div > div > div > div.meter::after { display: none; }
body > div.dialog > div.progress > div > div > div > div > div.meter::after,
body > div.dialog > div.progress > div > div > div > div > div.meter > span { content: ""; position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 1; overflow: hidden; background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent); background-size: 50px 50px; }
body > div.dialog.loading > div > div > img { display: none; }
body > div.dialog.loading > div > div > div { background-image: url("/img/loadinfo.gif"); }
body > div.dialog.loading > div > div > div * { visibility: hidden; }
body > div.dialog.select-file > div > div > header > h3 > span,
body > div.dialog.select-dir > div > div > header > h3 > span { display: none; }
body > div.dialog.login > div.login > div,
body > div.dialog.fileinfo > div.fileinfo > div,
body > div.dialog.progress > div.progress > div,
body > div.dialog.error > div.error > div { visibility: visible; opacity: 1; transform: scale(1); }

/* login error animation */
body > div.dialog.loginerror > div > div { animation: loginerror 0.5s linear; }
@keyframes loginerror {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
}

/* progress bar animation */
body > div.dialog > div.progress > div > div > div > div > div.meter > span { animation: move 2s linear infinite; }
@-webkit-keyframes move {
	0% { background-position: 0 0; }
	100% { background-position: 50px 50px; }
}
@-moz-keyframes move {
	0% { background-position: 0 0; }
	100% { background-position: 50px 50px; }
}

/* responsive table columns */
@media screen and (max-width: 1280px) {
	body > div.wrapper > main > section > div table .type { display: none; }
}
@media screen and (max-width: 1024px) {
	body > div.wrapper > main > section > div > header > table .size { border-right: 0 none; }
	body > div.wrapper > main > section > div > div > table .size { padding-right: 8px; width: 84px; }
	body > div.wrapper > main > section > div table .mtime { display: none; }
}
@media screen and (max-width: 600px) {
	body > div.wrapper > main > section > div > header > table .basename { border-right: 0 none; }
	body > div.wrapper > main > section > div table .size { display: none; }
}

/* responsive log and footer */
@media screen and (max-height: 720px) {
	body > div.wrapper > main { height: calc(100vh - 294px); }
	body > div.wrapper > div > div { height: 84px; }
}
@media screen and (max-height: 640px) {
	body > div.wrapper > main { height: calc(100vh - 266px); }
	body > div.wrapper > div > div { height: 56px; }
}
@media screen and (max-height: 560px) {
	body > div.wrapper > main { height: calc(100vh - 238px); }
	body > div.wrapper > div > div { height: 28px; }
}
@media screen and (max-height: 480px) {
	body > div.wrapper > main { height: calc(100vh - 176px); }
	body > div.wrapper > div { display: none; }
}
@media screen and (max-height: 400px) {
	body > div.wrapper > main { height: calc(100vh - 122px); }
	body > div.wrapper > footer { display: none; }
}

/* responsive narrow screen */
@media screen and (max-width: 480px) {
	body > div.wrapper { margin: 8px; }
	body > div.wrapper > header { margin-bottom: 8px; }
	body > div.wrapper > main { height: calc(100vh - 242px); margin-bottom: 8px; }
	body > div.wrapper > div { margin-bottom: 8px; }
}

/* responsive log and footer on narrow screen */
@media screen and (max-width: 480px) and (max-height: 720px) {
	body > div.wrapper > main { height: calc(100vh - 214px); }
}
@media screen and (max-width: 480px) and (max-height: 640px) {
	body > div.wrapper > main { height: calc(100vh - 186px); }
}
@media screen and (max-width: 480px) and (max-height: 560px) {
	body > div.wrapper > main { height: calc(100vh - 158px); }
}
@media screen and (max-width: 480px) and (max-height: 480px) {
	body > div.wrapper > main { height: calc(100vh - 112px); }
}
@media screen and (max-width: 480px) and (max-height: 400px) {
	body > div.wrapper > main { height: calc(100vh - 74px); }
}

/* responsive navigation */
@media screen and (max-height: 740px) {
	body > div.wrapper > main > nav > ul > li > a { height: 42px; line-height: 42px; font-size: 20px; }
}
@media screen and (max-height: 680px) {
	body > div.wrapper > main > nav > ul > li > a { height: 36px; line-height: 36px; font-size: 18px; }
}
@media screen and (max-height: 600px) {
	body > div.wrapper > main > nav > ul > li > a { height: 32px; line-height: 32px; font-size: 16px; }
}
@media screen and (max-height: 530px) {
	body > div.wrapper > main > section { width: calc(50% - 24px); }
	body > div.wrapper > main > nav { width: 48px; }
	body > div.wrapper > main > nav > ul > li > a { height: 28px; line-height: 28px; font-size: 14px; }
}
@media screen and (max-height: 500px) {
	body > div.wrapper > main > nav > ul > li > a { height: 22px; line-height: 22px; font-size: 13px; }
}
@media screen and (max-height: 440px) {
	body > div.wrapper > main > nav > ul > li > a { height: 20px; line-height: 20px; font-size: 12px; }
}
@media screen and (max-height: 320px) {
	body > div.wrapper > main > nav > ul > li > a { height: 18px; line-height: 18px; font-size: 11px; }
}
